@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas

@model IEnumerable<Tuple<Articulo, int>>
@{
}

<div class="ibox ">
    <div class="ibox-title">
        <h5>Mas vendidos del <strong>mes</strong> </h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>

                    @if (@Model != null && Model.Any())
                    {
                        @foreach (var venta in @Model)
                        {
                    <tr>
                        <td>@venta.Item1.Id</td>
                        <td>@venta.Item1.CodigoArticulo</td>
                        <td>@venta.Item1.Nombre</td>
                        <td>@venta.Item1.ArticuloCategoria.Descripcion</td>
                        <td>@venta.Item1.PrecioMinorista</td>
                        <td>@venta.Item1.PrecioMayorista</td>
                        <td>@venta.Item2</td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center text-monospace"><i class="fa fa-folder-open"></i> Sin datos</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

    </div>
</div>
