
@model Venta


@if (@Model == null)
{
    <tr>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
        <td><i class="fa fa-spinner fa-spin"></i></td>
    </tr>
}
else
{
    @foreach (var detalle in Model.VentaDetalles)
    {
    <tr>
        <td>@detalle.Articulo.CodigoArticulo</td>
        <td>@detalle.Articulo.Nombre</td>
        <td>@detalle.Articulo.Descripcion</td>
        <td>@detalle.Articulo.Color</td>
        <td>@detalle.Articulo.TalleArticulo</td>
        <td>@detalle.Cantidad</td>
        <td>@(detalle.PrecioUnitario*detalle.Cantidad)</td>

    </tr>
    }
}