@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas

@model VentaDetalleModel
@{

}

@if (Model != null)
{
<tr>
    @using (Html.BeginCollectionItem("VentaDetalleModel"))
    {
        @Html.HiddenFor(x => x.IdArticulo)
        @Html.HiddenFor(x => x.CodigoArticulo)
        <td>@Html.DisplayFor(x => x.NombreArticulo)</td>
        <td>@Html.DisplayFor(x => x.DescripcionArticulo)</td>
        <td>@Html.DisplayFor(x => x.ColorArticulo)</td>
        <td>@Html.DisplayFor(x => x.TalleArticulo)</td>
        <td>@Html.DisplayFor(x => x.ArticuloCategoria)</td>
        <td>@Html.DisplayFor(x => x.Cantidad)</td>
        <td>@Html.DisplayFor(x => x.Precio)</td>
        <td>
            <button class=" btn btn-outline btn-danger btn-xs" type="button" onclick="removeRow(this)">Borrar</button>
        </td>
    }
</tr>
}
