@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas
@model IEnumerable<Venta>

@{

}

@if (@Model != null)
{
    <div class="table-responsive">
        <table class="footable table table-stripped table-hover table-bordered toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th style="background-color: #caeee982;">#Venta</th>
                    <th style="background-color: #caeee982;">Vendedor</th>
                    <th style="background-color: #caeee982;">Cliente</th>
                    <th style="background-color: #caeee982;">Tipo de Venta</th>
                    <th style="background-color: #caeee982;">Monto Total</th>
                    <th style="background-color: #caeee982;">Fecha</th>
                    <th style="background-color: #caeee982;" data-sort-ignore="true" class="d-print-none">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in @Model)
                {
                <tr>
                    <td>@venta.Id</td>
                    <td>@venta.CreadoPor</td>
                    <td>@venta.Cliente.Nombre</td>
                    <td>@venta.VentaTipo</td>
                    <td>@venta.MontoTotal</td>
                    <td>@venta.FechaCreacion</td>
                    <td class="d-print-none">
                        <button class="btn btn-outline btn-success btn-xs" type="button"
                                onclick="verDetalle(@venta.Id)"
                                data-toggle="modal"
                                data-target="#ModalDetalle">
                            Ver Detalles
                        </button>

                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}

<script type="text/javascript">

</script>
