@{
    ViewData["Title"] = "Ventas";
    Layout = "_Layout";

    var title = "Ventas";


}

@model IEnumerable<Venta>

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-10 col-lg-9">
        <h2>@title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "sucursal" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Sucursal</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@title</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                @*onclick="location.href='@Url.Action("VentaArticulo", "Venta", 0)'"*@
                 data-toggle="modal"
                 data-target="#ModalVenta">
            <span class="icon icon-xs"><span class="fas fa-shopping-bag mr-2"></span></span>Registrar Venta
        </button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox-content m-b-sm border-bottom d-print-none">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-form-labe" for="solicitud_name">Venta</label>
                    <div class="typeahead__container">
                        <div class="typeahead__field">
                            <div class="typeahead__query">
                                <input class="js-typeahead typeaheadCustom " id="typeCompras" placeholder="Buscar Venta" autocomplete="on" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-outline-info btn-xl float-right" type="button" onclick="Filtrar()">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ventas de Sucursal</h5>
                </div>
                <div class="ibox-content">
                    <div id="ComprasPartialView">
                        <partial name="_VentaIndexTable.cshtml" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*MODAL detalle*@

    <div class="modal inmodal fade" id="ModalDetalle" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 900px !important;">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <h1 style="font-size:30px;">Detalle Venta</h1>
                        </div>
                    </div>
                </div>
                <div class="modal-body py-2">
                    <div class="table-responsive">
                        <table class="footable table table-stripped table-hover table-bordered no-paging toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th>Cod. Articulo</th>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Color</th>
                                    <th>Talle</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody id="partialViewEventos">
                                <partial name="_VentaIndexDetalle.cshtml" model="null" />
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @*MODAL venta*@

    <div class="modal inmodal fade" id="ModalVenta" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 900px !important;">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <h1 style="font-size:30px;">Registrar Venta</h1>
                        </div>
                    </div>
                </div>
                <div class="modal-body py-2">
                    <div class="form-group">
                        <label class="font-normal">Cliente</label>
                        @*<div class="row">
                            <div class="col-lg-8">*@
                                <select class="form-control chosen-select" id="dropdownCliente" data-placeholder="Seleccione Cliente" @*onchange="InsumoSeleccionadoOnChange()"*@ required>
                                    <option value=""> -- Seleccionar Cliente --</option>
                                    <option value="1"> Un Cliente</option>
                                </select>
                            @*</div>*@
                            @*<div class="col-lg-4 py-2 p-lg-0">*@
                                <button type="button" class="btn btn-white w-100">
                                    <span class="icon icon-xs"><span class="fas fa-plus mr-2"></span></span>Nuevo
                                </button>
                            @*</div>
                        </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="submit" onclick="location.href='@Url.Action("VentaArticulo", "Venta", 0)'" class="btn btn-primary">Registrar una Venta</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">
       

    </script>

    <script type="text/javascript">
        function verDetalle(id) {
            ActualizarDetalleCompra(id);
        }

        function ActualizarDetalleCompra(id) {
            $.ajax({
                type: "Get",
                url: "/sucursal/CompraArticulo/ActualizarDetalleCompra?IdCompra=" + id,
                traditional: true,
                data: {
                    Id: id
                },
                contentType: "application/json",
                success: function (response) {
                    $("#partialViewEventos").html(""); //clear the records content
                    $("#partialViewEventos").html(response);  //add the updated content.
                }
            });
        }
    </script>

    <script type="text/javascript">
        //prevent the form from doing a submit
        $(document).on('submit', '.validateDontSubmit', function (e) {
            e.preventDefault();
            return false;
        });

    </script>

  
}

