@{
    ViewData["Title"] = "Crear Stock Articulo";
    bool esEdicion = (Model.Id != 0);
    Layout = "_Layout";
}

@using Web.Site.Areas
@model ArticuloStockModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@(esEdicion ? "Modificar" : "Crear")</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Gestion</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "ControlStockArticulo", new { area = "abm" })">Stock Articulo</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@(esEdicion ? "Modificar" : "Crear")</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 mt-1 mt-sm-2  d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-default btn-rounded w-100"
                onclick="location.href='@Url.Action("Index", "ControlStockArticulo", 0)'">
            <span class="icon icon-xs"><span class="fas fa-chevron-left mr-2"></span></span>Volver
        </button>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    @using (Html.BeginForm(esEdicion ? "Editar" : "Crear", "Stock Articulo", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.StockTotal)
                    @Html.EditorFor(model => model.StockTotal, new { htmlAttributes = new { @id = "StockTotal", @class = "form-control", @placeholder = "Stock Total de Articulo" } })
                    @Html.ValidationMessageFor(model => model.StockTotal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.StockMinimo)
                    @Html.EditorFor(model => model.StockMinimo, new { htmlAttributes = new { @id = "StockMinimo", @class = "form-control", @placeholder = "Stock Minimo de Articulo" } })
                    @Html.ValidationMessageFor(model => model.StockMinimo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.TamañoLote)
                    @Html.EditorFor(model => model.TamañoLote, new { htmlAttributes = new { @id = "TamañoLote", @class = "form-control", @placeholder = "Tamaño de Lote" } })
                    @Html.ValidationMessageFor(model => model.TamañoLote, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.EsReposicionPorLote)
                    @Html.CheckBoxFor(m => m.EsReposicionPorLote, new { @id = "EsReposicionPorLote", @class = "js-switch_3" })
                </div>
            </div>
        </div>
    </div>
        <div style="text-align:right">
            <button type="Submit" class="btn btn-w-m btn-primary">@(esEdicion ? "Modificar" : "Crear") Articulo </button>
        </div>
    }
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/switchery/switchery.css" />

    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/switchery/switchery.js"></script>

    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            var elem = document.querySelector('.js-switch_3');
            var switchery = new Switchery(elem, { color: '#1AB394' });
        });
    </script>
}

