@{
    ViewData["Title"] = "Categorias";
    //bool esEdicion = (Model.Id != 0);
    Layout = "_Layout";

}

@model IEnumerable<ArticuloCategoria>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xl-10 col-lg-9">
        <h2>Categorias</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Gestion</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Categorias</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                onclick="location.href='@Url.Action("CrearEditarCategoria", "ArticuloCategoria", 0)'">
            <span class="icon icon-xs"><span class="fas fa-plus mr-2"></span></span>Nueva Categoria
        </button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Categorias Light Foot</h5>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="footable table table-stripped table-hover table-bordered toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Comentario</th>
                                    <th>Activo</th>
                                    <th data-sort-ignore="true" class="d-print-none">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="gradeC">
                                            <td>@item.Descripcion</td>
                                            <td>@item.Comentario</td>
                                            @if (item.Activo)
                                            {
                                                <td> Si </td>
                                            }
                                            else
                                            {
                                                <td>No </td>
                                            }
                                            <td>
                                                <button class="btn btn-outline btn-danger  btn-xs" type="button" onclick="BorrarCategoria('@item.Id')">Borrar</button>
                                                <button class="btn btn-outline btn-warning  btn-xs" type="button" onclick="EditarCategoria('@item.Id')">Editar</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot class="d-print-none">
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {

}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });

        function BorrarCategoria(Id) {
            alert(Id);
        }

        function EditarCategoria(Id) {
            window.location = '/abm/ArticuloCategoria/CrearEditarCategoria?IdCategoria=' + Id;
        }
        function alert(Id) {
            swal({
                title: "Seguro que desea dar de baja la Categoria?",
                text: "La Sucursal será dada de baja definitivamente!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, dar de baja!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "post",
                    url: "/abm/Categoria/Eliminar",
                    data: { Id: Id },
                    success: function (result) {
                        if (result == true) {
                            swal("Baja Exitosa!", "La Categoria ha sido dado de baja correctamente.", "success");
                        } else {
                            swal("Error", "Ocurrió un error intente mas tarde", "error");
                        }
                    }
                }).done(function () {
                    window.setTimeout(function () {
                        location.reload();
                    }, 600);
                });
            });
        };
        $(document).ready(function () {
      
            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: 'gitp',
               

            });
        });
    </script>
}