@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas
@model SolicitudDetalle
@{
    bool esEditar = (Model.Id != 0);
    string idTr = esEditar ? Model.Id + "List" : "";
}
<tr id="@idTr">
    @using (Html.BeginCollectionItem("SolicitudDetalles"))
    {
        {
            @Html.HiddenFor(x => x.Id)
            @*@Html.HiddenFor(x => x.IdSolicitud)*@
            @Html.HiddenFor(x => x.IdArticulo)
            @Html.HiddenFor(x => x.Motivo)
            @*@Html.HiddenFor(x => x.FechaCreacion)*@
            <td>@Html.DisplayFor(x => x.Id)</td>
            <td>@Html.DisplayFor(x => x.Articulo.Nombre)</td>
            <td>@Html.DisplayFor(x => x.Motivo)</td>
            @*<td>@Html.DisplayFor(x => x.CreadoPor)</td>*@
            @*<td>@Html.DisplayFor(x => x.FechaCreacion)</td>*@
            @*<td>
                @if (!esEditar)
                {
                    <button class=" btn btn-outline btn-danger  btn-xs " type="button" onclick="removeRow(this)">Borrar</button>
                }
                else
                {
                    <button class=" btn btn-outline btn-danger  btn-xs " type="button" onclick="DeletePriceListProduct('@Html.DisplayTextFor(x => x.Id)')">Borrar</button>
                }
            </td>*@
        }

    }
</tr>