
@model CompraArticulo


    @if (@Model == null)
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    else
    {
        @foreach (var detalle in Model.CompraArticuloDetalles)
        {
            <tr>
                <td>@detalle.Articulo.ArticuloCategoria.Descripcion - @detalle.Articulo.CodigoArticulo - @detalle.Articulo.Nombre - @detalle.Articulo.Color - Talle @detalle.Articulo.TalleArticulo</td>
                <td>@Model.Proveedor.Nombre</td>
                <td>@detalle.Cantidad</td>
                <td>@detalle.Monto</td>
                @if(detalle.Comentario == "" || detalle.Comentario == null)
                {
                    <td>Sin Comentarios</td>
                }
                else
                {
                    <td>@detalle.Comentario</td>
                }
                    
            </tr>
        }
    }

