
@model CompraArticulo


@if (Model != null)
{
    <h3>Insumos</h3>
    <div class="table-responsive">
        <table class="footable table table-stripped table-hover table-bordered no-paging toggle-arrow-tiny" data-page-size="3">
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detalle in Model.CompraArticuloDetalles)
                {
                    <tr>
                        <td>@detalle.Articulo.ArticuloCategoria.Descripcion - @detalle.Articulo.CodigoArticulo - @detalle.Articulo.Nombre - @detalle.Articulo.Color - Talle @detalle.Articulo.TalleArticulo</td>
                        <td>@Model.Proveedor.Nombre</td>
                        <td>@detalle.Cantidad</td>
                        <td>@detalle.Monto</td>
                        @if (detalle.Comentario == "" || detalle.Comentario == null)
                        {
                            <td>Sin Comentarios</td>
                        }
                        else
                        {
                            <td>@detalle.Comentario</td>
                        }

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}

