@{
    ViewData["Title"] = "Caja";
    Layout = "_Layout";

    var title = "Caja";
}

@model IEnumerable<CajaSucursal>

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-8 col-lg-6">
        <h2>@title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "sucursal" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Sucursal</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@title</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end p-lg-0" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-default w-100" onclick="Reporte()">
            <span class="icon icon-xs"><span class="fas fa-file mr-2"></span></span>Reporte
        </button>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                data-toggle="modal"
                data-target="#ModalMovimiento">
            <span class="icon icon-xs"><span class="fas fa-plus mr-2"></span></span>Nuevo Movimiento
        </button>
    </div>
</div>

<div class="d-none d-print-block w-100">
    <div class="alert alert-default" role="alert">
        <h5>Fecha de reporte: @DateTime.Now</h5>
        <div class="row">
            <div class="col-8">
                <h2>Caja de Sucursal</h2>
            </div>
            <div class="col-auto align-self-end">
                <h2>Total de Movimientos: @Model.Count()</h2>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Caja de Sucursal</h5>
                </div>
                <div class="ibox-content">
                    <div id="MovimientosPartialView">
                        <partial name="_CajaSucursalIndexTable.cshtml" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*MODAL Movimiento*@

    <div class="modal inmodal fade" id="ModalMovimiento" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 900px !important;">
            <div class="modal-content">
                <form class="validateDontSubmit" id="modalFormMovimiento" name="modalFormMovimiento">
                    <div class="modal-header pb-1">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-center">
                                <h1 style="font-size:30px;">Registrar Venta</h1>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body py-2">
                        <div class="form-group">
                            <label class="font-normal">Monto</label>
                            <input id="Monto" class="form-control" type="number" value="" min="0" placeholder="Monto" required>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Comentario</label>
                            <input id="Comentario" class="form-control" type="text" maxlength="250" value="" placeholder="Comentario" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="submit" onclick="btnIngresarMovimiento()" class="btn btn-primary">Ingresar Movimiento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Styles {
}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">

        $('#ModalDetalle').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
            $("#PartialViewEventos").html(""); //clear the records content
        })
        $('#ModalMovimiento').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })

        function Reporte() {
            window.print();
        }

    </script>

    <script type="text/javascript">
        //prevent the form from doing a submit
        $(document).on('submit', '.validateDontSubmit', function (e) {
            e.preventDefault();
            return false;
        });

        function btnIngresarMovimiento() {
            var monto = $('#Monto').val();
            var comentario = $('#Comentario').val();
            //window.location = '/sucursal/CajaSucursal/Crear?IdCliente=' + Id + '&&VentaTipo=' + VentaTipo;
            /*window.location = '/sucursal/CajaSucursal/Crear;*/
            ingresarMovimineto(monto, comentario);
        }

        function ingresarMovimineto(monto, comentario) {
            if (modalFormMovimiento.checkValidity()) {
                console.log(monto + ' - ' + comentario);
                $.ajax({
                    type: "post",
                    url: "/sucursal/CajaSucursal/Crear",
                    data: {
                        monto: monto,
                        comentario: comentario
                    },
                    success: function (response) {
                        if (response) {
                            swal(
                                'Nuevo movimiento realizado!',
                                'Monto: ' + monto + ', Comentario:' + comentario,
                                'success'
                            );
                        }
                    },
                    error: function (error) {
                        MensajeError('Ocurrio un error!', error.responseText);
                    }
                }).done(function (response) {
                    $("#MovimientosPartialView").html(""); //clear the records content
                    $("#MovimientosPartialView").html(response);  //add the updated content.
                    $('.footable').footable();
                    $('.footable').trigger('footable_redraw'); //reaplicar formato footable
                    $('#ModalMovimiento').modal('hide');
                });
            }
        }

    </script>

}


