@model IEnumerable<Articulo>

<div class="ibox-content">
    <div class="table-responsive">
        <table class="footable table table-stripped table-hover table-bordered toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                    <th>Talle</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th data-sort-ignore="true" class="d-print-none">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CodigoArticulo</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Color</td>
                            <td>@item.TalleArticulo</td>
                            <td>@item.ArticuloCategoria.Descripcion</td>
                            <td>@item.ArticuloEstado.ToString()</td>
                            <td class="d-print-none">
                                <button class="btn btn-outline btn-danger  btn-xs" type="button" onclick="BorrarArticulo('@item.Id')">Borrar</button>
                                <button class="btn btn-outline btn-warning  btn-xs" type="button" onclick="EditarArticulo('@item.Id')">Editar</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
