
@using Core.Dominio.AggregatesModel
@model IEnumerable<Insumo>



    <div class="table-responsive">
        <table class="footable table table-stripped table-hover table-bordered toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Proveedor Preferido</th>
                    <th>Stock Actual</th>
                    <th data-sort-ignore="true" class="d-print-none">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="gradeC">
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@(item.IdProveedorPreferido == null ? "No Posee" : item.Proveedor.Nombre)</td>
                            <td>@(item.StockTotal + item.Unidad)</td>
                            <td class="d-print-none">
                                @if ((await authorizationService.AuthorizeAsync(User, Policies.IsSupervisor)).Succeeded)
                                {
                                    <button class="btn btn-outline btn-danger  btn-xs" type="button" onclick="BorrarInsumo('@item.Id')">Borrar</button>
                                }
                                    <button class="btn btn-outline btn-warning  btn-xs" type="button" onclick="EditarInsumo('@item.Id')">Editar</button>
                                </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="d-print-none">
                <tr>
                    <td colspan="6">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
