@{
    ViewData["Title"] = "Insumos";
    Layout = "_Layout";
    string controlador = "Insumo";
    IEnumerable<string> TypeaheadNombreInsumo = ViewBag.TypeaheadNombreInsumo;

}

@using Core.Dominio.AggregatesModel
@model IEnumerable<Insumo>

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-8 col-lg-6">
        <h2>Insumo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Gestion</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Insumos</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end p-lg-0" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-default w-100" onclick="Reporte()">
            <span class="icon icon-xs"><span class="fas fa-file mr-2"></span></span>Reporte
        </button>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                onclick="location.href='@Url.Action("CrearEditarInsumo", "Insumo", 0)'">
            <span class="icon icon-xs"><span class="fas fa-plus mr-2"></span></span>Nuevo Insumo
        </button>
    </div>
</div>

<div class="d-none d-print-block w-100">
    <div class="alert alert-default" role="alert">
        Reporte de Insumos @DateTime.Now
    </div>
</div>
<div class="ibox-content m-b-sm border-bottom d-print-none">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="typeahead__container">
                    <div class="typeahead__field">
                        <div class="typeahead__query">
                            <input class="js-typeahead typeaheadCustom " id="typeInsumo" placeholder="Buscar Insumo" autocomplete="on" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex align-items-end justify-content-end">
            <button class="btn btn-outline-info btn-xl float-right" type="button" onclick="Filtrar()">
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Insumos</h5>
            </div>
            <div class="ibox-content">
                <div id="InsumoPartialView">
                    <partial name="_InsumoIndexTable.cshtml" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });

        function BorrarInsumo(Id) {
            alert(Id);
        }

        function EditarInsumo(Id) {
            window.location = '/abm/@controlador/CrearEditarInsumo?IdInsumo=' + Id;
        }

        function Reporte() {
            $('.dataTables_filter').addClass("d-print-none")
            window.print();
            $('.dataTables_filter').removeClass("d-print-none")
        }

        function alert(Id) {
            swal({
                title: "Seguro que desea dar de baja el Insumo?",
                text: "El Insumo será dada de baja definitivamente!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, dar de baja!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "post",
                    url: "/abm/@controlador/Eliminar",
                    data: { Id: Id },
                    success: function (result) {
                        if (result) {
                            swal("Baja Exitosa!", "El Insumo ha sido dado de baja correctamente.", "success");
                        } else {
                            swal("Error", "Ocurrió un error intente mas tarde", "error");
                        }
                    }
                }).done(function () {
                    window.setTimeout(function () {
                        location.reload();
                    }, 600);
                });
            });
        };

        $(document).ready(function () {

        });
    </script>
    <script type="text/javascript">

    var typeaheadNInsumo = @Html.Raw(Json.Serialize(TypeaheadNombreInsumo));

    $.typeahead({
        input: '.js-typeahead',
        order: "desc",
        template: "{{display}} <small style='color:#999;'>{{group}}</small>",
        minLength: 1,
        source: {
            NombreInsumo: { data: typeaheadNInsumo }
        }
    });

        function Filtrar() {
                  var insumo = $("#typeInsumo").val();
            $.ajax({
                type: "Get",
                url: '@Url.Action("FiltrarInsumo", "Insumo", new { area = "abm" })',
                traditional: true,
                data: //formData,
                {
                    nombreInsumo: insumo
                },
                contentType: "application/json",
                success: function (partial) {
                    $("#InsumoPartialView").html(""); //clear the records content
                    $("#InsumoPartialView").html(partial);  //add the updated content.
                    $('.footable').footable();
                    $('.footable').trigger('footable_redraw'); //reaplicar formato footable
                }
            });
        }
    </script>
}