@{
    IEnumerable<OrdenProduccionEvento> OrdenProduccionEventos = ViewBag.OrdenProduccionEventos;
    IEnumerable<EtapaOrdenProduccion> EtapasOrdenProduccion = ViewBag.EtapasOrdenProduccion;
    var PorcentajeCompletado = ViewBag.PorcentajeCompletado;

    var EstadoEtapaOrden = Model.EstadoEtapaOrdenProduccion;
    var SiguienteEtapa = EtapasOrdenProduccion.Where(x => x.Orden > Model.EtapaOrdenProduccion.Orden).MinBy(x => x.Orden).SingleOrDefault();
    var EtapasIds = EtapasOrdenProduccion.OrderBy(x => x.Orden).Select(x => x.Id).ToList();
    var NroEtapaProgresoActual = EtapasIds.IndexOf(Model.EtapaOrdenProduccion.Id) + 1;
}

@model OrdenProduccion



<h5 class="d-print-none">Progreso</h5>
<div class="progress d-print-none">
    <div style="width: @PorcentajeCompletado%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar  progress-bar-striped  progress-bar-animated bg-@Model.EstadoEtapaOrdenProduccion.GetGroupName()">
        <span class="sr-only"> @PorcentajeCompletado% Completo</span>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-5 d-print-none">
        <div class="panel panel-@Model.EstadoEtapaOrdenProduccion.GetGroupName()">
            <div class="panel-heading">
                Etapa @Model.EtapaOrdenProduccion.Descripcion (@NroEtapaProgresoActual de @EtapasIds.Count())
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action py-3">
                        <div class="d-flex justify-content-between">
                            <h4 class="mb-0">Articulo:</h4>
                            <h2 class="text-right mt-0">@Model.Articulo.Nombre</h2>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Codigo Articulo:</h4>
                            <p>@Model.Articulo.CodigoArticulo</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Categoria:</h4>
                            <p>@Model.Articulo.ArticuloCategoria.Descripcion</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Color:</h4>
                            <p>@Model.Articulo.Color</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Talle:</h4>
                            <p>@Model.Articulo.TalleArticulo</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Cantidad Total a Fabricar:</h4>
                            <p>@Model.CantidadTotal</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Estado de la etapa:</h4>
                            <p>@Model.EstadoEtapaOrdenProduccion.GetDisplayName()</p>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <h4>Sucursal Destino:</h4>
                            <p>@Model.SolicitudDetalle.Solicitud.Sucursal.Nombre</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="panel-footer">
                @if (Model.EstadoOrdenProduccion != EstadoOrdenProduccion.Finalizada && Model.EstadoOrdenProduccion != EstadoOrdenProduccion.Cancelada)
                {
                    @if (@EstadoEtapaOrdenProduccion.Pendiente == EstadoEtapaOrden)
                    {
                        <button type="button" class="btn btn-primary btn-lg w-100 my-1"
                                onclick="IniciarEtapa('@Model.Id')">
                            Iniciar Etapa
                        </button>
                    }
                    @if (EstadoEtapaOrdenProduccion.Iniciada == EstadoEtapaOrden)
                    {
                        <button type="button" class="btn btn-warning btn-lg w-100 my-1"
                                onclick="PausarEtapa('@Model.Id')">
                            Pausar Etapa
                        </button>
                        <button type="button" class="btn btn-primary btn-lg w-100 my-1"
                                onclick="FinalizarEtapa('@Model.Id')">
                            Finalizar Etapa
                        </button>
                    }
                    @if (EstadoEtapaOrdenProduccion.Pausada == EstadoEtapaOrden)
                    {
                        <button type="button" class="btn btn-success btn-lg w-100 my-1"
                                onclick="ReanudarEtapa('@Model.Id')">
                            Reanudar Etapa
                        </button>
                    }
                    @if (EstadoEtapaOrdenProduccion.Finalizada == EstadoEtapaOrden && SiguienteEtapa != null)
                    {
                        <button type="button" class="btn btn-warning btn-lg w-100 my-1"
                                onclick="RetrabajarEtapa('@Model.Id')">
                            Retrabajar Etapa
                        </button>
                        <button type="button" class="btn btn-primary btn-lg w-100 my-1"
                                onclick="AvanzarSiguienteEtapa('@Model.Id')">
                            Avanzar a siguiente Etapa (@SiguienteEtapa.Descripcion)
                        </button>
                    }
                    @if (EstadoEtapaOrdenProduccion.Retrabajo == EstadoEtapaOrden)
                    {
                        <button type="button" class="btn btn-primary btn-lg w-100 my-1"
                                onclick="FinalizarEtapa('@Model.Id')">
                            Finalizar Etapa
                        </button>
                    }
                    @if (EstadoEtapaOrdenProduccion.Finalizada == EstadoEtapaOrden && SiguienteEtapa == null)
                    {
                        <button type="button" class="btn btn-primary btn-lg w-100 my-1"
                                onclick="FinalizarOrden('@Model.Id')">
                            Finalizar Orden
                        </button>
                    }
                    <button type="button" class="btn btn-danger btn-lg w-100 my-1"
                            onclick="CancelarOrden('@Model.Id')">
                        Cancelar Orden
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Historial de eventos</h5>
            </div>
            <div class="ibox-content d-print-none">
                <p>
                    Etapas de produccion
                </p>

                <div id="wizard" class="d-print-none">
                    @foreach (var etapa in EtapasOrdenProduccion)
                    {
                        <h1>@etapa.Descripcion</h1>
                        <div class="step-content w-100">
                            <div class="">
                                <div class="table-responsive">
                                    <table class="footable table table-stripped table-hover table-bordered" data-sorting="true" data-paging="true" data-page-size="15">
                                        <thead class="">
                                            <tr>
                                                <th colspan="1" class="text-left"><h5>Estado Orden</h5></th>
                                                <th colspan="1" class="text-left"><h5>Etapa Orden</h5></th>
                                                <th colspan="1" class="text-left"><h5>Descripcion Etapa</h5></th>
                                                <th colspan="1" class="text-left"><h5>Fecha Evento</h5></th>
                                                <th colspan="1" class="text-left"><h5>Usuario</h5></th>
                                                <th colspan="1" class="text-left"><h5>Comentario</h5></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var evento in Model.OrdenProduccionEventos.Where(x => x.IdEtapaOrdenProduccion == etapa.Id).OrderByDescending(x => x.FechaCreacion))
                                            {
                                                <tr>
                                                    <td class="text-left">@evento.EstadoOrdenProduccion.GetDisplayName()</td>
                                                    <td class="text-left">@evento.EtapaOrdenProduccion.Descripcion</td>
                                                    <td class="text-left">@evento.EstadoEtapaOrdenProduccion.GetDisplayName()</td>
                                                    <td class="text-left">@evento.FechaCreacion</td>
                                                    <td class="text-left">@evento.CreadoPor</td>
                                                    <td class="text-left">@(string.IsNullOrWhiteSpace(evento.Comentario) ? "Sin Comentario" : evento.Comentario)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>


            @*Reporte*@
            <div class="d-none d-print-block">
                @foreach (var etapa in EtapasOrdenProduccion)
                {
                    if (Model.OrdenProduccionEventos.Where(x => x.IdEtapaOrdenProduccion == etapa.Id).Any())
                    {

                        <h3>@etapa.Descripcion</h3>
                        <div class="table-responsive">
                            <table class="footable table table-stripped table-hover table-bordered toggle-arrow-tiny" data-page-size="15">
                                <thead class="">
                                    <tr>
                                        <th colspan="1" class="text-left"><h4>Estado Orden</h4></th>
                                        <th colspan="1" class="text-left"><h4>Etapa Orden</h4></th>
                                        <th colspan="1" class="text-left"><h4>Descripcion Etapa</h4></th>
                                        <th colspan="1" class="text-left"><h4>Fecha Evento</h4></th>
                                        <th colspan="1" class="text-left"><h4>Usuario</h4></th>
                                        <th colspan="1" class="text-left"><h4>Comentario</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var evento in Model.OrdenProduccionEventos.Where(x => x.IdEtapaOrdenProduccion == etapa.Id).OrderByDescending(x => x.FechaCreacion))
                                    {
                                        <tr>
                                            <td class="text-left">@evento.EstadoOrdenProduccion.GetDisplayName()</td>
                                            <td class="text-left">@evento.EtapaOrdenProduccion.Descripcion</td>
                                            <td class="text-left">@evento.EstadoEtapaOrdenProduccion.GetDisplayName()</td>
                                            <td class="text-left">@evento.FechaCreacion</td>
                                            <td class="text-left">@evento.CreadoPor</td>
                                            <td class="text-left">@(string.IsNullOrWhiteSpace(evento.Comentario) ? "Sin Comentario" : evento.Comentario)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                            }
                            }
                    </div>


                </div>
            </div>

        </div>



