
@{
    ViewData["Title"] = "DetallesOrdenProduccion";
    Layout = "_Layout";

    IEnumerable<EtapaOrdenProduccion> EtapasOrdenProduccion = ViewBag.EtapasOrdenProduccion;
    var EtapasIds = EtapasOrdenProduccion.OrderBy(x => x.Orden).Select(x => x.Id).ToList();
    var NroEtapaProgresoActual = EtapasIds.IndexOf(Model.EtapaOrdenProduccion.Id) + 1;
}

@model OrdenProduccion

<div class="row wrapper border-bottom white-bg page-heading d-print-none">
    <div class="col-lg-8">
        <h2>Detalles Orden de Produccion @Model.Id</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "OrdenProduccion", new { area = "fabrica" })">Ordenes de Produccion</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 mt-1 mt-sm-2 d-flex justify-content-end align-items-end p-lg-0" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-default w-100" onclick="Reporte()"> 
            <span class="icon icon-xs"><span class="fas fa-file mr-2"></span></span>Reporte
        </button>
    </div>
    <div class="col-lg-2 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-default w-100"
                onclick="location.href='@Url.Action("Index", "OrdenProduccion", 0)'">
            <span class="icon icon-xs"><span class="fas fa-chevron-left mr-2"></span></span>Volver
        </button>
    </div>
</div>

<div class="d-none d-print-block w-100">
    <div class="alert alert-default" role="alert">
        <h5>Fecha de reporte: @DateTime.Now</h5>
        <div class="row">
            <div class="col-8">
                <h2>Orden de produccion numero @Model.Id</h2>
                <h3>Estado: @Model.EstadoOrdenProduccion.GetDisplayName()</h3>
                <h3>Etapa de Produccion: @Model.EtapaOrdenProduccion.Descripcion - @Model.EstadoEtapaOrdenProduccion.GetDisplayName()</h3>
                <h3>Sucursal Destino: @Model.SolicitudDetalle.Solicitud.Sucursal.Nombre</h3>
                <h3>Cantidad Solicitada: @Model.CantidadTotal</h3>
            </div>
            <div class="col-auto align-self-end">
                <h2>Articulo: @Model.Articulo.Nombre</h2>
                <h3>Categoria: @Model.Articulo.ArticuloCategoria.Descripcion</h3>
                <h3>Cod: @Model.Articulo.CodigoArticulo</h3>
                <h3>Color: @Model.Articulo.Color</h3>
                <h3>Talle: @Model.Articulo.TalleArticulo</h3>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content pt-1 animated fadeInRight">
    <div id="partialViewEventos">
        <partial name="_DetallesOrdenProduccionPartial.cshtml" model="Model" />
    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib/steps/jquery.steps.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
    </environment>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#wizard").steps({
                startIndex: @(Model.EtapaOrdenProduccion.Orden - 1),
                onStepChanging: function (event, currentIndex, newIndex) { if (newIndex > @(Model.EtapaOrdenProduccion.Orden - 1)) return false; return true; },
                enableFinishButton: false,
                transitionEffect: 1,
                transitionEffectSpeed: 200,
                next: "Siguiente",
                previous: "Anterior"
            });
        });
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">

        function ActualizarInfo(id, metodo) {
            $.ajax({
                type: "Get",
                url: '/fabrica/OrdenProduccion/' + metodo + '?IdOrdenProduccion=' + id,
                traditional: true,
                data: //formData,
                {
                    OrdenId: id,
                },
                contentType: "application/json",
                success: function (response) {             
                    $("#partialViewEventos").html(""); //clear the records content
                    $("#partialViewEventos").html(response);  //add the updated content.
                    $("#wizard").steps({ //reaplicar formato wizard
                        startIndex: @(Model.EtapaOrdenProduccion.Orden - 1),
                        onStepChanging: function (event, currentIndex, newIndex) { if (newIndex > @(Model.EtapaOrdenProduccion.Orden - 1)) return false; return true; },
                        enableFinishButton: false,
                        transitionEffect: 1,
                        transitionEffectSpeed: 200,
                        next: "Siguiente",
                        previous: "Anterior"
                    });
                }
            });
        }

        function Reporte() {
            window.print();
        }

        function IniciarEtapa(id) {
            ActualizarInfo(id, 'IniciarEtapa');
            //window.location = '/fabrica/OrdenProduccion/IniciarEtapa?IdOrdenProduccion=' + id;
        }
        function PausarEtapa(id) {
            ActualizarInfo(id, 'PausarEtapa');
            //window.location = '/fabrica/OrdenProduccion/PausarEtapa?IdOrdenProduccion=' + id;
        }
        function FinalizarEtapa(id) {
            ActualizarInfo(id, 'FinalizarEtapa');
            //window.location = '/fabrica/OrdenProduccion/FinalizarEtapa?IdOrdenProduccion=' + id;
        }
        function ReanudarEtapa(id) {
            ActualizarInfo(id, 'ReanudarEtapa');
            //window.location = '/fabrica/OrdenProduccion/ReanudarEtapa?IdOrdenProduccion=' + id;
        }
        function RetrabajarEtapa(id) {
            ActualizarInfo(id, 'RetrabajarEtapa');
            //window.location = '/fabrica/OrdenProduccion/RetrabajarEtapa?IdOrdenProduccion=' + id;
        }
        function AvanzarSiguienteEtapa(id) {
            ActualizarInfo(id, 'AvanzarSiguienteEtapa');
            //window.location = '/fabrica/OrdenProduccion/AvanzarSiguienteEtapa?IdOrdenProduccion=' + id;
        }
        function FinalizarOrden(id) {
            ActualizarInfo(id, 'FinalizarOrden');
            //window.location = '/fabrica/OrdenProduccion/FinalizarOrden?IdOrdenProduccion=' + id;
        }
        function CancelarOrden(id) {
            ActualizarInfo(id, 'CancelarOrden');
            //window.location = '/fabrica/OrdenProduccion/CancelarOrden?IdOrdenProduccion=' + id;
        }
    </script>
}
