@{
    ViewData["Title"] = "Ordenes de Produccion";
    Layout = "_Layout";

    //bool esEdicion = (Model.Id != 0);
}

@model IEnumerable<OrdenProduccion>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Ordenes de Produccion</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Ordenes de Produccion</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-labe" for="articulo_name">Articulo</label>
                    <input type="text" id="articulo_name" name="articulo_name" value="" placeholder="Articulo" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-normal">Estado</label>
                    <select data-placeholder="Estado de solicitud" class="chosen-select" multiple name="estado" id="estado">
                        <option value="0" selected> Pendiente de aprobacion   </option>
                        <option value="1">          Aprobado                  </option>
                        <option value="2">          Rechazado                 </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="font-normal">Etapa</label>
                    <select data-placeholder="Estado de solicitud" class="chosen-select" name="etapa_orden" id="etapa_orden">
                        <option value="0" selected> Cortado         </option>
                        <option value="1">          Aparado         </option>
                        <option value="2">          Preparacion     </option>
                        <option value="3">          Montado         </option>
                        <option value="4">          Pegado          </option>
                        <option value="5">          Finalizado      </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-labe" for="etapa_estado">Etapa del Estado</label>
                    <select name="etapa_estado" id="etapa_estado" class="form-control">
                        <option value="0" selected> Pendiente de inicio     </option>
                        <option value="1">          Iniciada                </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="fechaRango">
                    <label class="col-form-labe" for="fecha">Fecha</label>
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="form-control-sm form-control" name="start" />
                        <span class="input-group-addon"> <i class="fa fa-long-arrow-right mx-1"></i> </span>
                        <input type="text" class="form-control-sm form-control" name="end" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-outline-info btn-xl float-right" type="submit" onclick="">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Solicitudes</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>

                                    <th data-toggle="true">Articulo</th>
                                    <th>Estado</th>
                                    <th>Etapa</th>
                                    <th>Estado de la Etapa</th>
                                    <th>Cantidad Total</th>
                                    <th>Cantidad Fabricada</th>
                                    <th>Tiempo empleado</th>
                                    <th data-sort-ignore="true">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var orden in Model)
                                    {
                                        <tr>
                                            <td>@orden.Articulo.Nombre - @orden.Articulo.Color - t(@orden.Articulo.TalleArticulo)</td>
                                            <td>
                                                <span class="label label-@orden.EstadoOrdenProduccion.GetGroupName()">@orden.EstadoOrdenProduccion.GetDisplayName()</span>
                                            </td>
                                            <td>@orden.EtapaOrdenProduccion.Descripcion</td>
                                            <td>
                                                <span class="label label-@orden.EstadoEtapaOrdenProduccion.GetGroupName()">@orden.EstadoEtapaOrdenProduccion.GetDisplayName()</span>
                                            </td>
                                            <td>@orden.CantidadTotal</td>
                                            <td>@orden.CantidadTotalFabricada</td>
                                            <th>@((DateTime.Now - orden.FechaCreacion).ToString(@"hh\:mm\:ss"))</th>
                                            <td>
                                                <button class="btn btn-outline btn-success  btn-xs" type="button" onclick="VerDetalles('@orden.Id')">Ver Detalles</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
}

@section Scripts {
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/footable/dist/footable.all.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        $('#fechaRango .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            endDate: "today",
            language: "es"
        });
    </script>

    <script type="text/javascript">
        $('.chosen-select').chosen({
            no_results_text: "No hay resultados que coincidan con ",
            
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">
        function RechazarSolicitud(Id) {
            alert(Id);
        }

        function VerDetalles(Id) {
            window.location = '/fabrica/OrdenProduccion/DetallesOrdenProduccion?IdOrdenProduccion=' + Id;
        }

        function alert(Id) {
            swal({
                title: "Seguro que desea rechazar la solicitud?",
                text: "La Solicitud será rechazada definitivamente. Esta accion no se puede deshacer",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, rechazar!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "post",
                    url: "/fabrica/Solicitud/Rechazar",
                    data: { Id: Id },
                    success: function (result) {
                        if (result == true) {
                            swal("Exito!", "La solicitud ha sido rechazada correctamente", "success");
                        } else {
                            swal("Error", "Ocurrió un error inesperado", "error");
                        }
                    }
                }).done(function () {
                    window.setTimeout(function () {
                        location.reload();
                    }, 600);
                });
            });
        };
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>

}