@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas

@model IEnumerable<RankingVentasPorSucursalModel>
@{
    int i = 0;
}

<div class="ibox">
    <div class="ibox-title">
        <h5>Ventas Por Sucursal (mes)</h5>
    </div>
    <h2 class="d-none d-print-block">Ventas Por Sucursal (mes)</h2>
    <div class="ibox-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sucursal</th>
                    <th>Descripcion</th>
                    <th>Direccion</th>
                    <th>Ganancia</th>
                    <th>Cantidad de Ventas</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@item.Sucursal.Nombre</td>
                            <td>@item.Sucursal.Descripcion</td>
                            <td>@item.Sucursal.Direccion</td>
                            @if (item.Ventas != null)
                            {
                                <td>@item.Ventas.Sum(x => x.MontoTotal)$</td>
                                <td>@item.Ventas.Count()</td>
                            }
                            else
                            {
                                <td>0$</td>
                                <td>0</td>
                            }
                            
                        </tr>
                    }
                }
                else
                {

                    <tr class="my-4">
                        <td colspan="7" class="text-center text-monospace"><i class="fa fa-folder-open"></i> Sin datos</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

