
<div class="row m-b-md border-bottom white-bg dashboard-header animated fadeInRight">
    <div class="col-sm-6">
        <h2>Hoy</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@ViewBag.SolicitudesHoy</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">@ViewBag.cantTerminadasHoy</span> Solicitudes Finalizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">@ViewBag.cantEnviadasHoy</span> Solicitudes en Expedición
            </li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h2>Ultimos 7 días</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@ViewBag.SolicitudesSemana</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">@ViewBag.cantTerminadasSemana</span> Solicitudes Finalizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">@ViewBag.cantEnviadasSemana</span> Solicitudes en Expedición
            </li>
        </ul>
    </div>
</div>