
@model DashbardFabricaInfoGeneralModel

<div class="row m-b-md border-bottom white-bg dashboard-header">
    <div class="col-sm-6">
        <h2>Hoy</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@Model.SolicitudesRecibidasFecha</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">@Model.OrdenesProduccionFinalizadasFecha</span> Ordenes de Produccion Finalizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">@Model.OrdenesProduccionEnExpedicionFecha</span> Ordenes de Produccion Canceladas
            </li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h2>Ultimos 7 días</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@Model.SolicitudesRecibidasPlazo</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">@Model.OrdenesProduccionFinalizadasPlazo</span> Ordenes de Produccion Finalizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">@Model.OrdenesProduccionEnExpedicionPlazo</span> Ordenes de Produccion Canceladas
            </li>
        </ul>
    </div>
</div>