@{
    ViewData["Title"] = "Solicitudes";
    Layout = "_Layout";

    IEnumerable<Sucursal> Sucursales = ViewBag.Sucursales;
    IEnumerable<EstadoSolicitud> EstadosSolicitud = ViewBag.EstadosSolicitud;
    DateTime FechaDesde = ViewBag.FechaDesde; //DateTime.Today - TimeSpan.FromDays(-30);
    DateTime FechaHasta = ViewBag.FechaHasta; //DateTime.Today;
}

@model IEnumerable<Solicitud>

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-8 col-lg-6">
        <h2>Solicitudes</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Solicitudes</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end p-lg-0" style="text-align:right">
        <div class="dropdown">
            <button class="btn btn-w-m btn-default w-100 dropdown-toggle count-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-xs"><span class="fas fa-file mr-2"></span></span>Generar Reporte
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item w-100" type="button" onclick="ReporteSimple()">Reporte Simple</button>
                <button class="dropdown-item w-100" type="button" onclick="ReporteDetallado()">Reporte Detallado</button>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                onclick="location.href='@Url.Action("CrearEditarSolicitud", "Solicitud", 0)'">
            <span class="icon icon-xs"><span class="fas fa-plus mr-2"></span></span>Generar Solicitud
        </button>
    </div>
</div>


<div class="d-none d-print-block w-100">
    <div class="alert alert-default" role="alert">
        Reporte de Solicitudes @DateTime.Now
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom d-print-none">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="solicitud_sucursal">Sucursal</label>
                    <select id="solicitud_sucursal" data-placeholder="Sucursal" class="chosen-select" multiple tabindex="3">
                        @foreach (var sucursal in Sucursales)
                        {
                            <option value="@sucursal.Id"> @sucursal.Nombre </option>
                        }
                    </select>
                </div>
            </div>
            @*<div class="col-sm-3">
            <div class="form-group">
                <label class="col-form-labe" for="articulo_name">Articulo</label>
                <input type="text" id="articulo_name" name="articulo_name" value="" placeholder="Articulo" class="form-control">
            </div>
        </div>*@
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-form-label" for="solicitud_estado">Estado</label>
                    <select id="solicitud_estado" data-placeholder="Estado de solicitud" class="chosen-select" multiple tabindex="3">
                        @foreach (var estado in EstadosSolicitud)
                        {
                            <option value="@((int)estado)"> @estado.GetDisplayName() </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="fechaRango">
                    <label class="col-form-label">Fecha</label>
                    <div class="input-daterange input-group">
                        <input type="text" class="form-control-sm form-control" name="start" id="fechaDesde" value="@FechaDesde.ToString("dd/MM/yyyy")" />
                        <span class="input-group-addon"> <i class="fa fa-long-arrow-right mx-1"></i> </span>
                        <input type="text" class="form-control-sm form-control" name="end" id="fechaHasta" value="@FechaHasta.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-outline-info btn-xl float-right" type="button" onclick="Filtrar()">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Solicitudes</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div id="tablaContenido">
                    <partial name="_SolicitudTable.cshtml" model="Model" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
}

@section Scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        $('#fechaRango .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            endDate: "today",
            language: "es",
            format: "dd/mm/yyyy",
            startDate: "12/12/2020"
        });
    </script>

    <script type="text/javascript">
        $('.chosen-select').chosen({
            no_results_text: "No hay resultados que coincidan con "
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>


    <script type="text/javascript">
        function RechazarSolicitud(Id) {
            swal({
                title: "Seguro que desea rechazar la solicitud?",
                text: "La Solicitud será rechazada definitivamente. Esta accion no se puede deshacer",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, rechazar!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: "post",
                    url: "/fabrica/Solicitud/Rechazar",
                    data: { idSolicitud: Id },
                    success: function () {
                        Filtrar();
                    }
                })
            });
        }

        function AprobarSolicitud(Id) {
            $.ajax({
                type: "post",
                url: '/fabrica/Solicitud/AprobarSolicitud',
                data: {
                    idSolicitud: Id
                },
                success: function () {
                    Filtrar();
                }
            });
        }

        function VerDetalles(Id) {
            window.location = '/fabrica/Solicitud/SolicitudDetalle?IdSolicitud=' + Id;
        }

        function VerOrdenAsociada(Id) {
            window.location = '/fabrica/OrdenProduccion/DetallesOrdenProduccion?IdOrdenProduccion=' + Id;
        }

        function Reporte() {
            $('.dataTables_filter').addClass("d-print-none")
            window.print();
            $('.dataTables_filter').removeClass("d-print-none")
        }

        function Filtrar() {
            console.log("filtrado");
            sucursalesSeleccionadas = $("#solicitud_sucursal").chosen().val();
            estadosSeleccionados = $("#solicitud_estado").chosen().val();
            fechaDesde = $("#fechaDesde").val();
            fechaHasta = $("#fechaHasta").val();
            console.log(sucursalesSeleccionadas);
            console.log(estadosSeleccionados);
            console.log(fechaDesde);
            console.log(fechaHasta);

            $.ajax({
                type: "post",
                url: "/fabrica/Solicitud/Filtrar",
                data: {
                    solicitudFilter: {
                        IdSucursalList: sucursalesSeleccionadas,
                        EstadoSolicitudList: estadosSeleccionados,
                        FechaDesde: fechaDesde,
                        FechaHasta: fechaHasta
                    }
                },
                success: function (result) {
                    console.log("succeess");
                    $("#tablaContenido").html(""); //clear the records content
                    $("#tablaContenido").html(result);  //add the updated content.
                    $('.footable').footable();
                    $('.footable').trigger('footable_redraw'); //reaplicar formato footable
                    console.log("end");
                }
            });
        }     
    </script>

}