@{
    ViewData["Title"] = "SolicitudDetalle";
    Layout = "_Layout";

    var selected = "";
}
@model SolicitudDetalleModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles Solicitud</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(" Dashboard_1", "Dashboards" )">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(" Index", "Solicitud" , new { area="fabrica" })">Solicitud</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 mt-1 mt-sm-2  d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-default btn-rounded w-100"
                onclick="location.href='@Url.Action("Index", "Solicitud", 0)'">
            <span class="icon icon-xs"><span class="fas fa-chevron-left mr-2"></span></span>Volver
        </button>
    </div>
</div>

<div class="wrapper wrapper-content pt-1 animated fadeInRight">
    <div class="row mt-2">
        <div class="col-lg-4">
            <div class="panel panel-@Model.Solicitud.EstadoSolicitud.GetGroupName()">
                <div class="panel-heading">
                    Sucursal
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action">
                            <div class="d-flex justify-content-between">
                                <h4>Nombre: </h4>
                                <p>@Model.Sucursal.Nombre</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h4>Cantidad Articulos: </h4>
                                <p>@Model.SolicitudDetalle.Count()</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h4>Fecha Creacion: </h4>
                                <p>@Model.Solicitud.FechaCreacion.ToLocalTime()</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h4>Estado: </h4>
                                <p><span class="label label-@Model.Solicitud.EstadoSolicitud.GetGroupName()">@Model.Solicitud.EstadoSolicitud.GetDisplayName()</span></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h4>Comentario: </h4>
                                <p>@Model.Solicitud.Comentario</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Model.Sucursal.Nombre - Articulos
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th data-toggle="true">Articulo</th>
                                    <th>Cantidad</th>
                                    <th>Color</th>
                                    <th>Talle</th>
                                    <th>Descripcion</th>
                                    @*<th data-sort-ignore="true">Acciones</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detalle in Model.SolicitudDetalle)
                                {
                                    <tr>
                                        <td>@detalle.Articulo.Nombre</td>
                                        <td>@detalle.CantidadSolicitada</td>
                                        <td>@detalle.Articulo.Color</td>
                                        <td>@detalle.Articulo.TalleArticulo</td>
                                        <td>@detalle.Articulo.Descripcion</td>
                                        @*
                                        <td>
                                            <button class="btn btn-outline btn-info btn-xs w-100" type="button" onclick="">Ver Receta</button>
                                        </td>
                                        *@
                                    </tr>
                                }
                            </tbody>
                            
                        </table>
                        <div class="panel-footer d-flex justify-content-end align-items-end">
                            <button class="btn btn-outline btn-info btn-xs" type="button"
                                    onclick="location.href='@Url.Action("Index", "Recetas",  new { area = "fabrica" })'">
                                Ir a Recetas
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib/steps/jquery.steps.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
    </environment>

    <script type="text/javascript">
    </script>

}