@{
    ViewData["Title"] = "SolicitudDetalle";
    Layout = "_Layout";

    
}
@model Solicitud

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-lg-10 ">
        <h2>Detalles Solicitud</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(" Dashboard_1", "Dashboards" )">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action(" Index", "Solicitud" , new { area="fabrica" })">Solicitud</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 mt-1 mt-sm-2  d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-default btn-rounded w-100"
                onclick="location.href='@Url.Action("Index", "Solicitud", 0)'">
            <span class="icon icon-xs"><span class="fas fa-chevron-left mr-2"></span></span>Volver
        </button>
    </div>
</div>

<div class="d-none d-print-block w-100">
    <div class="alert alert-default" role="alert">
        Fecha: @DateTime.Now
        <h4>Sucursal: @Model.Sucursal.Nombre </h4>
        <h5>Detalle solicitud numero @Model.Id | @Model.EstadoSolicitud.GetDisplayName()</h5>
        <h6>Comentario: @Model.Comentario</h6>
    </div>
</div>

<div class="wrapper wrapper-content pt-1 animated fadeInRight">
    <div class="row mt-2">

        <div class="col-lg-7 d-print-none">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="float-right label label-@Model.EstadoSolicitud.GetGroupName()">
                        @Model.EstadoSolicitud.GetDisplayName()
                    </span>
                    <h5>Solicitud @Model.Id</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@Model.Sucursal.Nombre</h1>
                    <div class="stat-percent font-bold text-@Model.EstadoSolicitud.GetGroupName()">
                        @Model.FechaCreacion.ToLocalTime() <i class="fa fa-clock-o"></i>
                    </div>
                    <small>@Model.Sucursal.Direccion</small>
                </div>
            </div>
        </div>

        <div class="col-lg-5 d-print-none">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Articulos solicitados</h5>
                    <h2 class="text-navy">
                        <i class="fa fa-archive"></i> @Model.SolicitudDetalles.Count()
                    </h2>
                    <small>@Model.Comentario</small>
                </div>
            </div>
        </div>

        @foreach (var detalle in Model.SolicitudDetalles)
        {
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading d-print-none">
                        @detalle.Articulo.CodigoArticulo
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th data-toggle="true">Articulo</th>
                                        <th>Cantidad</th>
                                        <th>Color</th>
                                        <th>Talle</th>
                                        <th>Descripcion</th>
                                        <th>Orden Asociada</th>
                                        @*<th data-sort-ignore="true">Acciones</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@detalle.Articulo.CodigoArticulo</td>
                                        <td>@detalle.Articulo.Nombre</td>
                                        <td>@detalle.CantidadSolicitada</td>
                                        <td>@detalle.Articulo.Color</td>
                                        <td>@detalle.Articulo.TalleArticulo</td>
                                        <td>@detalle.Articulo.Descripcion</td>
                                        <td>
                                            @foreach (var op in detalle.OrdenesProduccion)
                                            {
                                                <button class="btn btn-outline btn-@op.EstadoOrdenProduccion.GetGroupName() btn-xs"
                                                        type="button" onclick="VerOrdenAsociada('@op.Id')">
                                                    Orden @op.Id
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/iCheck/icheck.min.js"></script>
        <script src="~/lib/steps/jquery.steps.min.js"></script>
        <script src="~/lib/validate/jquery.validate.min.js"></script>
    </environment>

    <script type="text/javascript">

        function Reporte() {
            $('.dataTables_filter').addClass("d-print-none")
            window.print();
            $('.dataTables_filter').removeClass("d-print-none")
        }

    </script>

}