@{
    ViewData["Title"] = "Recetas";
    Layout = "_Layout";
    string controlador = "Recetas";
    string url_base = "/fabrica/Recetas/";

}

@using Web.Site.Areas.Fabrica.Models
@model RecetaModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@controlador</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@controlador</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-12" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary" onclick="location.href='@Url.Action("CrearEditarReceta", controlador, 0)'">Crear Receta</button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
   
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-form-labe" for="solicitud_name">Receta</label>
                    <input type="text" id="receta_name" name="receta_name" value="" placeholder="Receta" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-form-labe" for="insumo_name">Insumo</label>
                    <input type="text" id="insumo_name" name="insumo_name" value="" placeholder="Insumo" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-outline-info btn-xl float-right" type="button" onclick="">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Recetas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th data-toggle="true"># Receta</th>
                                    <th data-hide="all" data-animation="true"></th>
                                    <th>Nombre de articulo</th>
                                    <th>Comentarios</th>
                                    <th>Estado</th>
                                    <th>Usuario Responsable</th>
                                    <th>Fecha Receta</th>
                                    <th data-sort-ignore="true">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Recetas != null)
                                {
                                    foreach (var receta in Model.Recetas)
                                    {
                                        <tr>
                                            <td>@receta.Id</td>
                                            <td>
                                                @if (receta.RecetaDetalles != null && receta.RecetaDetalles.Any())
                                                {
                                                    <div class="">
                                                        <div class="col">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="background-color: #9ac5ca82;">Insumo</th>
                                                                            <th style="background-color: #9ac5ca82;">Descripción</th>
                                                                            <th style="background-color: #9ac5ca82;">Unidad de medida</th>
                                                                            <th style="background-color: #9ac5ca82;">Cantidad</th>
                                                                            <th style="background-color: #9ac5ca82;">Etapa</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var detalle in receta.RecetaDetalles)
                                                                        {
                                                                            <tr>
                                                                                <td>@detalle.Insumo.Nombre</td>
                                                                                <td>@detalle.Insumo.Descripcion</td>
                                                                                <td>@detalle.Insumo.Unidad</td>
                                                                                <td>@detalle.Cantidad</td>
                                                                                <td>@detalle.EtapaOrdenProduccion.Descripcion</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                            </td>
                                            <td>@receta.Articulo.Nombre</td>
                                            <td>@receta.Articulo.Descripcion</td>
                                            @if (receta.Activo)
                                            {
                                                <td>Activo</td>
                                            }
                                            else
                                            {
                                                <td>Desactivado</td>
                                            }
                                            @if (receta.ModificadoPor != null)
                                            {
                                                <td>@receta.ModificadoPor</td>
                                            }
                                            else
                                            {
                                                <td>@receta.CreadoPor</td>
                                            }
                                            @if (receta.FechaModificacion != null)
                                            {
                                                <td>@receta.FechaModificacion</td>
                                            }
                                            else
                                            {
                                                <td>@receta.FechaCreacion</td>
                                            }

                                            <td>
                                                <button class=" btn btn-outline btn-primary  btn-xs " type="button" onclick="EditarReceta(@receta.Id)">Editar</button>
                                                @if (receta.Activo)
                                                {
                                                    <button class=" btn btn-outline btn-warning  btn-xs " type="button" onclick="accionReceta(@receta.Id , 'desactivar')">Desactivar</button>
                                                }
                                                else
                                                {
                                                    <button class=" btn btn-w-m btn-info btn-xs " type="button" onclick="accionReceta(@receta.Id , 'activar')">Activar</button>
                                                }
                                                <button class=" btn btn-outline btn-danger  btn-xs " type="button" onclick="accionReceta(@receta.Id, 'eliminar')">Eliminar</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                            <tfoot>                
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
}

@section Scripts {
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/footable/dist/footable.all.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        $('#fechaRango .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            endDate: "today",
            language: "es"
        });
    </script>

    <script type="text/javascript">
        $('.chosen-select').chosen({
            no_results_text: "No hay resultados que coincidan con "
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">
        function EditarReceta(Id) {
            window.location = '@url_base' + 'CrearEditarReceta?IdReceta=' + Id;
        }
    </script>

    <script type="text/javascript">
        function accionReceta(Id, accion) {
            var titulo;
            var text;
            if (accion == "eliminar") {
                titulo = "Seguro que desea eliminar la receta?";
                text = "La Receta será eliminada definitivamente. Esta accion no se puede deshacer";
                ruta = "eliminar" ;
            }
            else {
                titulo = "Seguro que desea " + accion + " la receta?";
                text = " ";
                ruta = "activardesactivar";
            }
            alert(Id, accion, titulo , text);
        }
        
        function alert(Id, accion, titulo, text) {

            swal({
                title: titulo,
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si,"+ accion +"!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "post",
                    url: "@url_base" + ruta + "/",
                    data: { id: Id },
                    success: function (result) {
                        if (result == true) {
                            swal("Exito!", "La acción ha sido procesada correctamente", "success");
                        } else {
                            swal("Error", "Ocurrió un error inesperado", "error");
                        }
                    }
                }).done(function () {
                    window.setTimeout(function () {
                        location.reload();
                    }, 600);
                });
            });
        };

        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>

}