@{
    ViewData["Title"] = "Recetas";
    Layout = "_Layout";
    string controlador = "Recetas";
    string url_base = "/fabrica/Recetas/";
    IEnumerable<string> TypeaheadNombreReceta = ViewBag.ListadoRecetaType;

}

@model IEnumerable<RecetaModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@controlador</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@controlador</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-12" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary" onclick="location.href='@Url.Action("CrearEditarReceta", controlador, 0)'">Crear Receta</button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-form-labe" for="solicitud_name">Receta</label>
                    <div class="typeahead__container">
                        <div class="typeahead__field">
                            <div class="typeahead__query">
                                <input class="js-typeahead typeaheadCustom " id="typeReceta" placeholder="Buscar Receta" autocomplete="on" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <button class="btn btn-outline-info btn-xl float-right" type="button" onclick="BuscarReceta()">
                    <i class="fa fa-search" aria-hidden="true"></i> Buscar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Recetas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                    <div id="tablaContenido">
                        <partial name="_listadoReceta.cshtml" model="Model" />
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/chosen/bootstrap-chosen.css" />
    <link rel="stylesheet" href="~/custom/jquery.typeahead.min.css" />
}

@section Scripts {
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/footable/dist/footable.all.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/custom/jquery.typeahead.min.js"></script>

    <script type="text/javascript">
        $('#fechaRango .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            endDate: "today",
            language: "es"
        });
    </script>

    <script type="text/javascript">
        $('.chosen-select').chosen({
            no_results_text: "No hay resultados que coincidan con "
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">
        function EditarReceta(Id) {
            window.location = '@url_base' + 'CrearEditarReceta?IdReceta=' + Id;
        }
    </script>

    <script type="text/javascript">

        var typeaheadNombreReceta = @Html.Raw(Json.Serialize(TypeaheadNombreReceta));
        $.typeahead({
            input: '.js-typeahead',
            order: "desc",
            minLength: 1,
            source: {
                Nombre: { data: typeaheadNombreReceta }
            }
        });
    </script>

    <script type="text/javascript">
        function accionReceta(Id, accion) {
            console.log(accion + " Accion")
            var titulo;
            var text;
            if (accion == "eliminar") {
                titulo = "Seguro que desea eliminar la receta?";
                text = "La Receta será eliminada definitivamente. Esta accion no se puede deshacer";
                ruta = "eliminar" ;
            }
            else {
                titulo = "Seguro que desea " + accion + " la receta?";
                text = " ";
                ruta = "activardesactivar";
            }
            alert(Id, accion, titulo , text);
        }

        function alert(Id, accion, titulo, text) {

            swal({
                title: " " + titulo + " ",
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si,"+ accion +"!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "post",
                    url: "@url_base" + ruta + "/",
                    data: { id: Id },
                    success: function (result) {
                        if (result == true) {
                            swal("Exito!", "La acción ha sido procesada correctamente", "success");
                        } else {
                            swal("Error", "Ocurrió un error inesperado", "error");
                        }
                    }
                }).done(function () {
                    window.setTimeout(function () {
                        location.reload();
                    }, 200);
                });
            });
        };
    </script>
    <script type="text/javascript">

        function BuscarReceta() {
            var receta = $("#typeReceta").val();

            $.ajax({
                type: "Get",
                url: '@Url.Action("BuscarReceta", "Recetas", new { area = "fabrica" })',
                traditional: true,
                data: //formData,
                {
                    NombreReceta: receta,            
                },
                contentType: "application/json",
                success: function (modeloReceta) {
                    $("#tablaContenido").html(""); //clear the records content
                    $("#tablaContenido").html(modeloReceta);  //add the updated content.
                    $('.footable').footable(); //reaplicar formato footable
                }
            });
        }
    </script>

}