@{
    ViewData["Title"] = "Compras de Insumo";
    Layout = "_Layout";

    IEnumerable<CompraInsumoDetalle> DetallesCompra = ViewBag.DetallesCompra;
    IEnumerable<TipoPago> tiposdePago = ViewBag.TiposPago;
    
}

@model IEnumerable<CompraInsumo>

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-10 col-lg-9">
        <h2>Compras</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "fabrica" })">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Fabrica</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Compras</strong>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">
        <button type="button" class="btn btn-w-m btn-primary w-100"
                onclick="location.href='@Url.Action("ComprarInsumos", "CompraInsumo", 0)'">
            <span class="icon icon-xs"><span class="fas fa-shopping-cart mr-2"></span></span>Realizar Compra
        </button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Compras de Insumos</h5>
                </div>
                <div class="ibox-content">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="footable table table-stripped table-bordered toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                    <tr>
                                        <th>#Compra</th>
                                        <th>Proveedor</th>
                                        <th>Fecha Recibido</th>
                                        <th>Fecha Ultimo Pago</th>
                                        <th>Monto Total</th>
                                        <th>Remito Asociado</th>
                                        <th data-sort-ignore="true" class="d-print-none">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="ComprasPartialView">
                                    <partial name="_CompraInsumoIndexTable.cshtml" model="Model" />
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <ul class="pagination float-right"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*MODAL detalle*@

    <div class="modal inmodal fade" id="ModalDetalle" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <div class="row">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <h1 style="font-size:30px;">Detalle Compra</h1>
                        </div>
                    </div>
                </div>
                <div class="modal-body py-2">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Insumo</th>
                                    <th>Proveedor</th>
                                    <th>Cantidad</th>
                                    <th>Monto</th>
                                    <th>Comentario</th>
                                </tr>
                            </thead>
                            <tbody id="partialViewEventos">
                                <partial name="_CompraInsumoIndexDetalle.cshtml" model="null" />
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @*MODAL recibir*@

    <div class="modal inmodal fade" id="ModalrecibirCompra" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="validateDontSubmit" id="modalForm" name="modalForm">
                    <input type="text" id="hiddenModalrecibirCompra" hidden>
                    <div class="modal-header pb-1">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-center">
                                <h1 id="tituloModalrecibirCompra" style="font-size:30px;">Recibir Compra </h1>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body py-2 border-bottom">
                        <h3>Califique su entrega</h3>

                        <div class="row">
                            <div class="modal-body border my-1 p-0 pr-1 d-flex justify-content-start align-items-end col-6">
                                <label class="font-normal col-9">Tiempo de entrega</label>
                                <select class="form-control col-3" id="dropdownTiempoCalificacion" required>
                                    @*@foreach (var valor in ViewBag.CalificacionValores)*@
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="modal-body border my-1 p-0 pl-1 d-flex justify-content-start align-items-end col-6">
                                <label class="font-normal col-9">Distancia</label>
                                <select class="form-control col-3" id="dropdownDistanciaCalificacion" required>
                                    @*@foreach (var valor in ViewBag.CalificacionValores)*@
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="modal-body border my-1 p-0 pr-1 d-flex justify-content-start align-items-end col-6">
                                <label class="font-normal col-9">Precio</label>
                                <select class="form-control col-3" id="dropdownPrecioCalificacion" required>
                                    @*@foreach (var valor in ViewBag.CalificacionValores)*@
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="modal-body border my-1 p-0 pl-1 d-flex justify-content-start align-items-end col-6">
                                <label class="font-normal col-9">Calidad de entrega</label>
                                <select class="form-control col-3" id="dropdownCalidadCalificacion" required>
                                    @*@foreach (var valor in ViewBag.CalificacionValores)*@
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="modal-body py-2">
                        <div class="form-group">
                            <label class="font-normal">Remito</label>
                            <input class="form-control limitarLength" type="number" id="NroRemito" placeholder="Remito" maxlength="12" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="ClearModalrecibirCompra()" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="submit" onclick="BootonRecibirCompra()" class="btn btn-primary">Recibir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*MODAL pagar*@

    <div class="modal inmodal fade" id="ModalPagarCompra" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="validateDontSubmit" id="modalForm2" name="modalForm2">
                    <input type="text" id="hiddenModalpagarCompra" hidden>
                    <div class="modal-header pb-1">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-center">
                                <h1 id="tituloModalpagarCompra" style="font-size:30px;">Pagar Compra </h1>
                            </div>
                        </div>
                    </div>
                    <div id="partialViewModalPagos">
                        <partial name="_CompraInsumoIndexPagos.cshtml" model="null" />
                    </div>
                    <div class="modal-body py-2 border-bottom">
                        <div class="form-group">
                            <label class="font-normal">Metodo de Pago</label>
                            <select class="form-control" name="metodo_pago" id="metodo_pago" data-placeholder="-- Metodo de Pago --" required>
                                <option value="" selected> -- Metodo de Pago -- </option>
                                @if (tiposdePago != null)
                                {
                                @foreach (var tipo in tiposdePago)
                                    {
                                <option value="@tipo">@tipo</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">A Pagar</label>
                            <input id="cantidadPagar" class="form-control" type="number" min="0" max="" value="0" placeholder="" required>
                        </div>
                        @*<div class="form-group">
                    <label class="font-normal">Pagado</label>
                    <input class="form-control" id="Pagado" placeholder="" disabled>
                </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="ClearModalrecibirCompra()" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="submit" onclick="btnPagarCompra()" class="btn btn-primary">Registrar Pago</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();

            $(".touchspin").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: 'gitp'
            });
        });

        $(document).on('input', ".limitar10", function () {
            if (this.value / 10 == this.max || this.value == 10)
                this.value = this.value.slice(0, 2);

            if (this.value > this.max || this.value.length > 1 && this.value != 10)
                this.value = this.value.slice(0, 1);
        });

        $(document).on('input', ".limitarLength", function () {
            if (this.value.length > this.maxLength)
                this.value = this.value.slice(0, this.maxLength);
        });
    </script>

    <script type="text/javascript">
        function verDetalle(id) {
            ActualizarDetalleCompra(id);
        }

        function ActualizarDetalleCompra(id) {
            $.ajax({
                type: "Get",
                url: "/fabrica/CompraInsumo/ActualizarDetalleCompra?IdCompra=" + id,
                traditional: true,
                data: {
                    Id: id
                },
                contentType: "application/json",
                success: function (response) {
                    $("#partialViewEventos").html(""); //clear the records content
                    $("#partialViewEventos").html(response);  //add the updated content.
                }
            });
        }
    </script>

    <script type="text/javascript">
        //prevent the form from doing a submit
        $(document).on('submit', '.validateDontSubmit', function (e) {
            e.preventDefault();
            return false;
        });

        $('#ModalrecibirCompra').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
        $('#ModalPagarCompra').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })

        function ModalRecibirCompra(id) {
            console.log("recibirCompra con id");
            $('#tituloModalrecibirCompra').text('Recibir Compra #' + id);
            $('#hiddenModalrecibirCompra').val(id);
        }

        function BootonRecibirCompra() {
            console.log("recibirCompra");
            var compraId = $('#hiddenModalrecibirCompra').val();
            var nroRemito = $("#NroRemito").val();
            var tiempoCalificacion = $("#dropdownTiempoCalificacion :selected").val();
            var distanciaCalificacion = $("#dropdownDistanciaCalificacion :selected").val();
            var precioCalificacion = $("#dropdownPrecioCalificacion :selected").val();
            var calidadCalificacion = $("#dropdownCalidadCalificacion :selected").val();
            //var promedio = ($("#tiempoCalificacion").val() + $("#distanciaCalificacion").val() + $("#precioCalificacion").val() + $("#calidadCalificacion").val()) / 4;
            RecibirCompra(compraId, nroRemito, tiempoCalificacion, distanciaCalificacion, precioCalificacion, calidadCalificacion);            
        }

        function RecibirCompra(id, nroRemito, tiempoCalificacion, distanciaCalificacion, precioCalificacion, calidadCalificacion) {
            console.log("RecibirCompra con 3 parametros");
            if (modalForm.checkValidity()) {
                console.log("checkValidity true");
                $.ajax({
                    type: "post",
                    url: "/fabrica/CompraInsumo/RecibirCompra",
                    data: {
                        idCompra: id,
                        nroRemito: nroRemito,
                        tiempoCalificacion: tiempoCalificacion,
                        distanciaCalificacion: distanciaCalificacion,
                        precioCalificacion: precioCalificacion,
                        calidadCalificacion: calidadCalificacion
                    },
                    success: function (response) {
                        if (response) {
                            swal(
                                'Compra #' + id + ' recibida',
                                'Remito: ' + nroRemito,
                                'success'
                            );
                        }
                    }
                }).done(function (response) {
                    $("#ComprasPartialView").html(""); //clear the records content
                    $("#ComprasPartialView").html(response);  //add the updated content.
                    $('#ModalrecibirCompra').modal('hide');
                    //window.setTimeout(function () {
                    //    location.reload();
                    //}, 600);
                });
            }
            else {
                console.log("checkValidity false");
            }
        }
    </script>

    <script type="text/javascript">

        function ModalPagarCompra(id, montoTotal) {
            console.log("pagarCompra con id");
            $('#tituloModalpagarCompra').text('Pagar Compra #' + id);
            $('#hiddenModalpagarCompra').val(id);
            $('#cantidadPagar').max(montoTotal);
        }

        //function ClearModalrecibirCompra() {
        //    $('#metodo_pago').prop("selectedIndex", 0);
        //    $('#cantidadPagar').val("");
        //    $('#Pagado').val("");
        //}

        function btnPagarCompra() {
            console.log("pagarCompra");
            var compraId = $('#hiddenModalpagarCompra').val();
            var montoPagado = $("#cantidadPagar").val();
            var tipoPago = $("#metodo_pago :selected").val();
            pagarCompra(compraId, montoPagado, tipoPago);            
        }

        function pagarCompra(idCompra, pagado, tipoPago) {
            if (modalForm2.checkValidity()) {
                $.ajax({
                    type: "post",
                    url: "/fabrica/CompraInsumo/PagarCompra",
                    data: {
                        idCompra: idCompra,
                        tipoPago: tipoPago,
                        montoPagado: pagado
                    },
                    success: function (response) {
                        if (response) {
                            swal(
                                'Compra #' + idCompra + ' pagada',
                                'Se pagado ' + pagado,
                                'success'
                            );
                        }
                    }
                }).done(function (response) {
                    $("#ComprasPartialView").html(""); //clear the records content
                    $("#ComprasPartialView").html(response);  //add the updated content.
                    $('#ModalPagarCompra').modal('hide');
                    //window.setTimeout(function () {
                    //    location.reload();
                    //}, 600);
                });
            }
        }

    </script>
}

